version: "3.9"

services:
  mysql:
    image: mysql:latest
    container_name: mysql_app
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./initdb2:/docker-entrypoint-initdb.d
volumes:
  mysql_data:
